*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ddd;
}

.wrapper{
    padding: 200px;
}

#quotes-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.quote{
    border-radius: 15px;
    width: max-content;
    min-width: 400px;
    min-height: 120px;
    background-color: #fff;
    margin: 20px ;
    padding: 10px;
    padding-left: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 10px 0px;
}

.citation{
    align-self: center;
    font-size: 25px;
    margin-bottom: 15px;
    margin-right: 40px;
}

.fa-heart{
    align-self: flex-end;
    font-size: 20px;
}

.auteur{
    align-self: flex-end;
    font-size: 20px;
    margin-right: 40px;
}