@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.wrapper{
    color: #fff;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 150, 150);
    padding: 50px;
    height: 100vh;
}

.cardWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 0 50px;
    filter: brightness(1) !important;
    transition: 1000ms ease;
}

i{
    transition: 1000ms ease;
    font-size: 70px;
    position: relative;
    top: 20px;
}

p{
    opacity: 0;
    color: #fff;
    position: relative;
    top: 20px;
}

#fb{
    background-color: rgb(66, 103, 178);
}

#tw{
    background-color: rgb(29, 161, 242);
}

#ig{
    background-color: rgb(225, 48, 108);
}


.change{
    box-shadow: 0px 5px 5px black;
    border-radius: 20px;
    filter: brightness(1) !important;
}

.rotate{
    transform: translateY(-15px) rotate(360deg);
}

.boxBrightness{
    filter : brightness(1.2);
}

.cardsBrightness{
    filter: brightness(1);
}